/* Add a blue background color to the top navigation */
.topnav {
    height: 10%;
    background-color: white;
    overflow: hidden;
    border-bottom-style:groove;
    border-bottom-color: grey;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display:inline;
    color: #00004d;
    padding: 25px 10px;
    text-decoration: none;
    font-size: 110%;
    height: 20px;
    opacity: .8;
    font-family: "open sans", helvetica, sans-serif;
    /*font-family: 'Quattrocento', serif;
    font-size: 110%;*/
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    height: auto;
}

.frontPic{
  height: 100%auto;

}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("NickInAlaska.jpg");

    /* Set a specific height */
    height: 90%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #4d2600;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 450%;
}

.subheading a:hover{
  color: aqua;
}

.aboutmeheading {
  font-family: 'Questrial', sans-serif;
  font-size: 175%;
}

.intro{
  font-family: 'Quattrocento', serif;
  font-size: 110%;
  line-height: 130%;
  padding-left: 5%;
  width: 90%;

}

.cspart{
  font-family: 'Quattrocento', serif;
  font-size: 110%;
  line-height: 130%;
  padding-left: 5%;
  width: 90%;

}

.skillsheading{
  font-family: 'Questrial', sans-serif;
  font-size: 175%;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 90%; /* Full width */
    background-color: #ddd; /* Grey background */
    margin-left: 3%;
    font-family: 'Quattrocento', serif;
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.skills h1{
  padding-left: 30px;
}

.language {
  padding-left: 4%;
  margin-top: 3%;
  font-family: 'Quattrocento', serif;
  font-size: 110%;
}

.java {width: 90%; background-color: #33cc33;} /* Green */
.python {width: 80%; background-color: blue;} /* Blue */
.html {width: 80%; background-color: #f44336;} /* Red */
.javascript {width: 60%; background-color: #808080;} /* Dark Grey */
.ruby {width: 50%; background-color: #ff751a;} /* Dark Grey */


.myprojectsheading{
  font-family: 'Questrial', sans-serif;
  font-size: 150%;
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */
#London {background-color:white; height: 90%;}
#Paris {background-color:white; height: 600px;}
#Tokyo {background-color:white; height: 650px;}
#Oslo {background-color:white; height: 650px;}

.pacmanHeading {
  font-family: 'Questrial', sans-serif;
  font-size: 150%;
  color: #ff751a;
  margin-left: 20%;
}

.pacmanbody {
  font-size: 20px;
  font-family: 'Quattrocento', serif;
  line-height: 130%;
  color: black;
  margin-left: 30%;
  text-align: left;
  width: 70%;
}

.tetrisHeading {
  font-family: 'Questrial', sans-serif;
  font-size: 150%;
  color: #66FFFF;
  margin-left: 20%;
}

.tetrisbody {
  font-size: 20px;
  font-family: "open sans", helvetica, sans-serif;
  color: black;
  margin-left: 30%;
  text-align: left;
  width: 70%;
}


.experience, h1{
  padding-left: 2%;
}

.experienceheading {
  font-family: 'Questrial', sans-serif;
  font-size: 150%;
}

.experienceheadings {
  font-family: 'Questrial', sans-serif;
  font-size: 90%;
  border-bottom-style:groove;
  border-bottom-color: black;
}

.experienceparagraph {
  font-family: 'Quattrocento', serif;
  font-size: 110%;
  line-height: 130%;
  padding-left: 5%;
  width: 50%;
}

footer{
  text-align: center;
  height: 85%;
  background: linear-gradient(#00001a, #00001a, #142952);
  /*background-color: #00001a;*/
  padding-top: 10%;
  font-size: 200%;
  color: white;
}

.footerheading{
  font-family: 'Questrial', sans-serif;
  font-size: 90%;
}


.fa {
  padding: 20px;
  /*width: 6%;
  height: 13%;*/
  text-align: center;
  text-decoration: none;
  margin-top:auto;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: white;
  color: black;
}

.fa-envelope{
  background: red;
  color: white;
}
